<section id="home-about-me" class="">
	<div class="row center-xs center-sm left-text">

		<div class="col-xs-10 col-sm-10 col-md-4 col-lg-4" style="display: flex; flex-direction: column; justify-content: center; resize: vertical;">
			<div class="author_part wow slideInLeft" role="button">
				<div class="avatar_wrap">
					<span role="link" tabindex="0">
						<a href="{{ path_for('experience-get') }}">
							<img class="avatar" src="{{ env.profile_pic }}" alt="Joey's picture">
						</a>
					</span>
				</div>
			</div>
		</div>

		<div class="col-xs-11 col-sm-11 col-md-8 col-lg-8 wow slideInRight">
			<h1 class="tight">Joey Gallegos</h1>
			<h2 class="light">Web Developer, UI/UX Designer</h2>
			<p>👋Hi! I'm Joey, a web developer from Houston, Texas. I'm skilled in frontend and backend web development while staying focused on enhancing the customer's experience.</p>
			<p>I help small businesses, startups and clients of all sizes to create memorable products &amp; experiences for their customers and visitors.</p>
			<p>If you are interested in working together, I am always looking for new opportunities and interesting projects. Please <a target="_blank" href="{{ path_for('contact-get') }}">contact me</a> with more information. Whenever you need to be right — we'll get there together.</p>
		</div>

	</div>
</section>
