<section id="home-about-me" class="">
	<div class="row center-xs center-sm left-text">

		<div class="redesign-message-container">
			<div class="redesign-message-content">
				<div class="author_part wow slideInLeft" role="button">
					<div class="avatar_wrap">
						<span role="link" tabindex="0">
							<a href="{{ path_for('contact-get') }}">
								<img class="avatar" src="{{ env.profile_pic }}" alt="Joey's picture">
							</a>
						</span>
					</div>
				</div>
				<h1 class="redesign-message-title tight">
					Joey Gallegos
				</h1>
				<h2 class="light">Web Developer, Security Analyst</h2>
				<p class="redesign-message-text">Hi! I'm Joey, a web developer from Houston, Texas. I'm passionate and skilled in web technologies, system operations and information security.</p>
				<p class="redesign-message-text">I help small businesses create memorable products &amp; experiences for their customers.</p>
				<p class="redesign-message-text">If you are interested in working together, you can
				<a target="_blank" href="{{ path_for('contact-get') }}">contact me</a>.</p>
			</div>
		</div>

	</div>
</section>
