<section id="quote">
	<div class="container">

		<div class="row center-xs center-sm center-md center-lg">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3 class="quote">Let's make it a reality together.</h3>
			</div>
		</div>

		<div class="row center-xs center-sm center-md center-lg">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h4 class="quote light space-after">Bringing your idea to life is easier than you think. I'd love to hear more about your product.</h4>
				<a class="btn white" href="{{ path_for('contact-get') }}" target="_blank">LETS GET STARTED</a>
			</div>
		</div>

	</div>
</section>