<main id="upsells" class="reveal" hide>
	<div class="container" class="">

		<section class="reveal">
			<div class="row center-xs center-sm center-md center-lg center-xs center-sm middle-lg">

				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<div class="shot">
						<img class="shadow" src="/assets/img/code.jpg" alt="">
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<div class="info">
						<h1 class="light">Quality-Driven Code</h1>
						<h2 class="light">I created a comprehensive and extensive codebase that is easy to extend and modularize without prolonged effort. Adding new features is the easy part.</h2>
					</div>
				</div>

			</div>
		</section>

	</div>
</main>