<section class="reveal" id="cards" hide>
	<div class="container">

		<div class="row center-xs center-sm center-md center-lg">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="light">Speciality Services</h1>
			</div>
		</div>


		<div class="row center-xs center-sm center-md center-lg">

			{% for service in services %}
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
				<div class="card reveal">
					<div class="inner">
						<h3 class="light">{{ service.title }}</h3>
						<p class="desc">{{ service.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
</section>