{% extends '/portfolio/template/portfolio-project.twig' %}
{% block aboutProject %}

<section id="about-project" class="reveal">
	<div class="container">
		<div class="row center-xs center-sm center-md center-lg">

			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
				<h1>Morgan David King</h1>
				{% if not project.tags is empty %}
					<div class="tags">
						{% for tag in project.tags|split(',') %}
							<div class="bubble">{{ tag|upper }}</div>
						{% endfor %}
					</div>
				{% endif %}
				{% if project.description %}
					{{ project.description | raw }}
				{% endif %}
			</div>
			
		</div>
	</div>
</section>


<main id="upsells" class="reveal">
	<div class="container">

		<section class="reveal">
			<div class="row center-xs center-sm center-md center-lg center-xs center-sm middle-lg space-after">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
					<div class="parent" style="display: flex; flex-direction: column;justify-content: center; resize: vertical;">
						<h2>Converting Concept to Product</h2>
						<p>I focused on creating an easy-to-use design with clean and understandable interactions that made the overall viewing experience of the website fast and simple.</p>
					</div>
				</div>
			</div>

			{% set screenshots = [
				'/assets/img/wrk/mdk_1.png',
				'/assets/img/wrk/mdk_0.png',
				'/assets/img/wrk/mdk_2.png',
				'/assets/img/wrk/mdk_3.png']
			%}
			{% for screenshot in screenshots %}
				<div class="row center-xs center-sm center-md center-lg center-xs center-sm middle-lg space-after">
					<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
						<div class="shot">
							<img class="shadow rounded reveal" src="{{ screenshot }}" alt="">
						</div>
					</div>
				</div>
			{% endfor %}
		</section>

		{# QUALITY DRIVEN DEVELOPMENT / HIDE #}
		<section class="reveal">
			<div class="row center-xs center-sm center-md center-lg center-xs center-sm middle-lg">

				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<div class="shot">
						<img class="shadow" src="/assets/img/code.jpg" alt="">
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<div class="info">
						<h3>Quality-Driven Implementation</h3>
						<p>I created a efficient and flexable codebase that is easy to extend and modularize without technical effort. Adding new features or elements into the website is the easy part. After implementing new features or fixes, the latest changes can be uploaded within minutes.</p>
					</div>
				</div>

			</div>
		</section>
	</div>
</main>

{% include '/portfolio/partials/services.twig' %}
{% include '/portfolio/partials/scope-of-work.twig' %}
{% include '/portfolio/partials/see-more.twig' %}
{% include '/portfolio/partials/contact-for-project.twig' %}

{% endblock %}