<div class="message-bar">
	<p class="paragraph" style="">
		<a class="" data-analytics-event="CTA Clicked" href="{{ message.link }}" target="new">
			A new project of mine has been published. <u style="">Check it out</u>
		</a>
		<button class="close-btn" style="">
			<svg height="13" viewBox="0 0 12 13" width="12" style="">
				<g fill="#fff" fill-rule="evenodd" id="close-icon" style="">
					<path d="M10.596.49l1.414 1.414L1.404 12.51-.01 11.096z" style=""></path>
					<path d="M-.01 1.904L1.404.49 12.01 11.096l-1.414 1.414z" style=""></path>		
				</g>
			</svg>
		</button>
	</p>
</div>