{% extends 'layout.twig' %}
{% block body %}
<main id="experience" class="reveal">
	<div class="container">

		<section class="reveal">
			<div class="row center-xs center-sm center-md center-lg center-xs center-sm middle-lg space-after">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
					<div class="parent" style="display: flex; flex-direction: column;justify-content: center; resize: vertical;">
						<h1>My experience</h1>
						<p>At my core, I believe in everyone and their goals as if they were my own. I will go to great lengths to help clients accomplish their dreams. Below you'll have a preview of my previous accomplishments and career highlights. Feel free to reach out if you have any questions or if you ever need any emotional support, career guidance or advice. We can get it done together.</p>
					</div>
				</div>
			</div>
		</section>

	</div>
</main>
		
		{# span before small **MUST** stay on the same line - not sure why, but should be fixed #}
		<section id="wrk-exp">
			<div class="inner">
				<span class="line"></span>
				<ul>

					<li style="display:none;">
						<a href="https://liensolutions.com/" class="ani">
							<span>WK Lien Solutions</span>
						</a><span></span><small>April 11th 2019<em>CEO Award, Wolters Kluwer</em></small>
					</li>

					<li style="display:none;">
						<a href="https://liensolutions.com/" class="ani">
							<span>WK Lien Solutions</span>
						</a><span></span><small>April 1st 2019<em>IT Incident Response Analyst</em></small>
					</li>
					
					<li style="display:none;">
						<a href="https://liensolutions.com/" class="ani">
							<span>WK Lien Solutions</span>
						</a><span></span><small>July 10th 2018<em>Employee Recognition Award, Wolters Kluwer</em></small>
					</li>
					
					<li style="display:none;">
						<a href="https://liensolutions.com/" class="ani">
							<span>WK Lien Solutions</span>
						</a><span></span><small>July 10th 2017<em>Living the Brand Award, Wolters Kluwer</em></small>
					</li>
					

					<li style="display:none;">
						<a href="https://liensolutions.com/" class="ani">
							<span>WK Lien Solutions</span>
						</a><span></span><small>February 2016<em>Client Support Specialist</em></small>
					</li>
					<li style="display:none;">
						<a href="https://claritygalaxy.com" class="ani">
							<span>Clarity Galaxy</span>
						</a><span></span><small>January 2015<em>Java Developer</em></small>
					</li>
					<li style="display:none;">
						<a href="/portfolio/mdk" class="ani">
							<span>Freelance</span>
						</a><span></span><small>January 2013<em>Application Developer</em></small>
					</li>
				</ul>
			</div>
		</section>
{% endblock %}