{% extends 'layout.twig' %}

{% block body %}
<section id="questions" class="reveal">
	<div class="container">

		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-8 col-lg-8">
				<div class="social-row w-clearfix"><img src="https://uploads-ssl.webflow.com/5b5ee2ac2461b32e2b5d1595/5b6d80363d9b848ea2705a51_icon-instagram.png" alt="" class="image---icon w-hidden-small w-hidden-tiny"><div class="text-block-4">For Instagram Stories use “Tokyo” or “Buenos Aires”</div></div>

				<div class="social-row row-2 w-clearfix"><img src="https://uploads-ssl.webflow.com/5b5ee2ac2461b32e2b5d1595/5b6d80403d9b8475c0705a55_icons-vsco.png" width="36" alt="" class="image---icon w-hidden-small w-hidden-tiny"><div class="text-block-4">For VSCO use “T1” or “T2” preset, and +1.0 exposure</div></div>
			</div>
		</div>

	</div>
</section>
{% endblock %}